@model LibraryManagementSystem.Models.Reservation

@{
    ViewBag.Title = "reservation_list_item";
}

<div class="item">
    <div class="row">
        <div class="col-xs-6">
            <p>@Model.LibraryItem.Title</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            @if (@Model.IsReserved)
            {
                <p><b>Check out by @Model.GetDueDate()</b></p>
            }
            else
            {
                <p><b>Return By @Model.GetDueDate()</b></p>
            }


        </div>
        <div class="col-xs-12 col-sm-3 text-right">
            <button class="action-btn btn btn-danger">Check In</button>
        </div>
    </div>
</div>