@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="text-danger">EKU</span> Library Management System</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2>Manage Customers</h2>
                <p>
                    @Html.ActionLink("Go to customers", "Index", "Customers", null, new { @class = "btn btn-danger"})
                </p>
            </div>
            <div class="col-xs-6">
                <h2>Manage Library</h2>
                <p>
                    @Html.ActionLink("Go to library", "Index", "LibraryItems", null, new { @class = "btn btn-danger" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2>Check In/Out</h2>
                <p>
                    @Html.ActionLink("Go to check-in/check-out", "Find", "Customers", null, new { @class = "btn btn-danger" })
                </p>
            </div>
            <div class="col-md-6">
                <h2>Search Library</h2>
                <p>
                    @Html.ActionLink("Go to search", "Search", "LibraryItems", null, new { @class = "btn btn-danger" })
                </p>
            </div>
        </div>
    </div>
</div>